 html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.screen{
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.loading{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('./images/iHKW4xm7.jpg');
  background-size: cover;
  background-color: #111a23;
}
.lock{
  width: 24.375%;
  position: absolute;
  left: 37.8125%;
  top: 22.4%;
}
.small{
  position: absolute;
  top: 28.5%;
  left: 40%;
  width: 20.375%;
  height: 21px;
  transform: rotate(-180deg);
}
.big{
  position: absolute;
  top: 28.5%;
  left: 41%;
  width: 18.375%;
  height: 21px;
  transform: rotate(-270deg);
}
.redio{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 28.5%;
  background: #7f666c;
  border-radius: 50%;
}
.banner{
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
}
.gress{
  position: absolute;
  top: 74%;
  width: 30%;
  left: 35%;
}
.gress img{
  width: 100%;
  height: 20px;
}
.text{
  font-size: 26px;
  color: rgb(122, 62, 37);
  line-height: 36px;
  text-align: center;
  margin-top: 15px;
}
.rota{
  animation: hovertreespin 1s linear 0s infinite;
}
.rotaa{
  animation: hovertreespina 12s linear 0s infinite;
}
@keyframes hovertreespina {
  0%{
    transform: rotate(-180deg)
  }
  100%{
    transform:rotate(-540deg);
  }
}
@keyframes hovertreespin {
  0%{
    transform: rotate(-270deg)
  }
  100%{
    transform:rotate(-630deg);
  }
}
.screen-arrow{
  height: 100%;
}
.bg{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.bg.t_50{
  top: -50px;
}
.bg.sc_1{
  left: -50%;
}
.btm{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sc_btm{
  opacity: 0;
}
.screen{
  opacity: 0.8;
}
.screen.current{
  opacity: 1;
  transition: opacity 0.05s;
}
.year{
  width: 228px;
  height: 168px;
  position: absolute;
  right: 45px;
  top: 110px;
  opacity: 0;
}
.current .year,.current .year_txt{
  animation: 2s sacal cubic-bezier(.17, .67, .11, .93) 0s forwards;
}
.current.screen2 .year,.current.screen2 .year_txt{
  animation: 2s sacal cubic-bezier(.17, .67, .11, .93) 0s forwards;
}
.year_txt{
  width: 101px;
  height: 169px;
  position: absolute;
  top: 310px;
  right: 130px;
  z-index: 2;
  opacity: 0;
}
.logo{
  width: 119px;
  height: 24px;
  position: absolute;
  top: 35px;
  left: -50%;
}
.logo.last{
  width: 129px;
  height: 36px;
}
.animation_1{
  width: 80px;
  height: 87px;
  position: absolute;
  top: 88px;
  left: 82px;
  opacity: 0;
}
.animation_2{
  width: 81px;
  height: 85px;
  position: absolute;
  right: 118px;
  top: 680px;
  opacity: 0;
}
.animation_3{
  width: 65px;
  height: 73px;
  position: absolute;
  left: 353px;
  top: 457px;
  opacity: 0;
}
.screen2 .animation_3{
  left: 306px;
  top: 440px;
}
.screen2 .animation_5{
  right: 65px;
  top: 475px;
}
.screen2 .animation_2{
  right: 162px;
  top: 672px;
}
.animation_4{
  width: 65px;
  height: 66px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  opacity: 0;
}
.animation_5{
  width: 69px;
  height: 70px;
  position: absolute;
  right: 20px;
  top: 482px;
  opacity: 0;
}
.current .animation_1,.current .animation_2,.current .animation_3,.current .animation_4,.current .animation_5{
  animation: ripple 1.2s 0.5s linear infinite;
}
.current .animation_1.an_6,.current .animation_3.an_6{
  animation: no_ripple 1.2s 0.5s linear infinite;
}
.swipe { 
  position: absolute; 
  width: 42px; 
  height: 45px; 
  bottom: 88px; 
  left: 50%; 
  margin-left: -21px;
  z-index: 2;
  opacity: 0;
}
.current .swipe{
  animation: swipe 2.5s linear 0.3s infinite;
  -webkit-animation: swipe 2.5s linear 0.3s infinite;
}
@keyframes ripple{
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0.4;
  }
}
@keyframes no_ripple{
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(2);
    opacity: 0.2;
  }
}
@keyframes sacal{
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes swipe {
  0%{-webkit-transform:translateY(0px);opacity:1}
  60%{-webkit-transform:translateY(-20px);opacity:0.5}
  100%{-webkit-transform:translateY(0px);opacity:1}
}
.no_opc{
  opacity: 0.8;
}
.current .no_opc{
  opacity: 1;
  transition: opacity 0.1s;
}
.screen3 .animation_1{
  top: 400px;
}
.screen3 .animation_3{
  top: 540px;
}
.screen3 .year{
  top: 380px;
  z-index: 2;
}
.animation_text{
  position: absolute;
  width: 281px;
  height: 322px;
  left: 43px;
  top: 546px;
  transform: translateX(-200%);
}
.animation_pto{
  position: absolute;
  width: 437px;
  height: 193px;
  top: 668px;
  left: 375px;
  transform: scale(0);
}
.current .animation_text{
  animation: marleft 1.2s 0s both;
}
.current .animation_pto{
  animation: marsacl 1.2s 0s both;
}
.screen4 .animation_text{
  position: absolute;
  left: 60px;
  top: 385px;
  width: 276px;
  height: 84px;
} 
@keyframes marleft {
  0%{-webkit-transform:translateX(-200%);opacity:1}
  100%{-webkit-transform:translateY(0);opacity:1}
}
@keyframes marsacl{
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.apply{
  position: absolute;
  width: 141px;
  height: 32px;
  bottom: 28px;
  left: 250px;
  z-index: 2;
  opacity: 0;
}
.current .apply{
  animation: no_scal 3s 0.5s linear infinite;
}
.screen4 .btm{
  bottom: -2px;
}
@keyframes no_scal{
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
.baodao{
  width: 144px;
  height: 29px;
  position: absolute;
  left: 42px;
  top: 38px;
}
.screen5 .logo{
  top: 38px;
  left: 480px !important;
}
.content{
  width: 440px;
  height: 763px;
  position: absolute;
  top: 130px;
  left: 100px;
}
.view_show{
  position: absolute;
  left: 424px;
  top: 128px;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.model{
  position: absolute;
  top: 110px;
  left: 50px;
  width: 540px;
  height: 701px;
  z-index: 3;
  display: none;
}
.close{
  top: 724px;
  left: 250px;
  position: absolute;
  width: 140px;
  height: 60px;
  z-index: 4;
}
.view_show.tap{
  width: 197px;
  height: 28px;
  position: absolute;
  top: 800px;
  left: 136px;
  z-index: 2;
}
input{
  border: 0px solid lightgrey;
  padding: 0px;
  position: absolute;
  width: 428px;
  height: 52px;
  font-size: 22px;
  background-color: transparent;
  line-height: 32px;
  text-align: center;
  color: rgb(122, 51, 29) !important;
  outline: none;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(122, 51, 29);
}
.phone{
  top: 576px;
  left: 106px;
}
.name{
  top: 433px;
  left: 106px;
}
select{
  border: 0px solid lightgrey;
  padding: 0px;
  position: absolute;
  width: 428px;
  padding-left: 190px;
  left: 106px;
  top: 503px;
  height: 52px;
  font-size: 22px;
  background-color: transparent;
  line-height: 32px;
  text-align: center;
  color: rgb(122, 51, 29);
  outline: none;
}
.number{
  left: 106px;
  top: 648px;
  width: 250px;
  height: 52px;
}
.checkNum{
  display: flex;
  position: absolute;
  font-size: 22px;
  color: rgb(193, 126, 126);
  line-height: 32px;
  text-align: center;
  word-break: normal;
  width: 148px;
  height: 51px;
  justify-content: center;
  align-items: center;
  top: 648px;
  left: 390px;
}
.code{
  left: 102px;
  top: 720px;
  width: 190px; 
  height: 52px;
}
.weui-cell__ft{
  width: 208px;
  height: 51px;
  position: absolute;
  top: 720px;
  left: 325px;
}
.getPhone{
  display: flex;
  position: absolute;
  font-size: 22px;
  color: rgb(193, 126, 126);
  line-height: 32px;
  text-align: center;
  word-break: normal;
  font-family: Arial;
  width: 208px;
  height: 51px;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.tab1{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  top: 790px;
  left: 95px;
  z-index: 2;
}
.tab_1{
  position: absolute;
  width: 29px;
  height: 29px;
  background-color: transparent;
  cursor: pointer;
  top: 795px;
  left: 100px;
  z-index: 2;
  visibility: hidden;
}
.tab2{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  top: 834px;
  left: 95px;
}
.tab_2{
  position: absolute;
  width: 29px;
  height: 29px;
  background-color: transparent;
  cursor: pointer;
  top: 839px;
  left: 100px;
  z-index: 2;
  visibility: hidden;
}
.submit{
  width: 243px;
  height: 65px;
  position: absolute;
  top: 940px;
  left: 50%;
  transform: translateX(-50%);
}
button,button:hover{
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}